html {
    scroll-behavior: smooth; /* Makes scrolling on the page smooth and not pop */
}


#banner-logo {
    height: 200px; /* Sets max height for banner at top of page */
}

#navbar-logo {
    width: 40px; /* Sets size for navbar logo */
}

#socialMediaLinks{
    list-style: none; /* Removes bullet points from links */
}

/* Increases font size and removes link stylization */
#socialMediaLinks li a{
    font-size: 64px;
    color: black;
    text-decoration: none;
    
}